* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --bg-url: linear-gradient(-45deg, #292727, #939991);
  --text-color: rgb(240, 215, 167);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.05);
  --surface-color-hover: rgba(255, 255, 255, 0.02);
  --highlight-color: rgba(255, 255, 255, 0.2);
}

body {
  background: var(--bg-url);
}

body * {
  color: var(--text-color);
  font-family: 'Inter', sans-serif;
}

#container {
  margin: 22px auto 22px;
  max-width: 588px;
  padding: 0 24px;
  width: 100%;
}

/** profile */
#profile {
  padding: 24px;
  text-align: center;
}

#profile img {
  border-radius: 50%;
  margin: auto;
  width: 170px;
}

#profile p {
  font-weight: 500;
  margin-top: 8px;
  line-height: 24px;
}

/* links */
ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
  list-style: none;
  padding: 24px 0;
}

ul li a {
  align-items: center; /* eixo y */
  backdrop-filter: blur(4px);
  background: var(--surface-color-hover);
  border: 1px solid var(--text-color);
  border-radius: 8px;
  display: flex;
  font-weight: 500;
  justify-content: center; /* eixo x */
  padding: 16px 24px;
  text-decoration: none;
  transition: background 0.5s;
  -webkit-backdrop-filter: blur(4px);
}

/* pseudo seletor */
ul li a:hover {
  background: rgb(221, 213, 199);
  border: 1.5px solid var(--text-color);
  color: black;
}

/* janela modal */
#janela-modal {
  display: none;
  position: fixed;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(221, 213, 199);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

h5 {
  color: rgb(199, 107, 7);
}

.modal-body {
  text-align: center;
  flex-direction: column;
}

#wpp1, #wpp2 {
  font-weight: 500;
  color: black;
  display: inline-block;
  justify-content: center;
  text-decoration: none;
}

#wpp1:hover, #wpp2:hover {
  color: rgb(5, 157, 177);
}

/* social links */
#social-links {
  display: flex;
  font-size: 24px;
  justify-content: center;
  padding: 24px 0;
}

#social-links a {
  align-items: center;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  padding: 16px;
  text-decoration: none;
  transition: background 0.2s;
}

#social-links a:hover {
  background: var(--highlight-color);
}

footer {
  font-size: 12px;
  padding: 24px 0;
  text-align: center;
}

footer a {
  font-weight: 600;
  text-decoration: none;
}
